@model List<Category>
<div class="row my-2">
    <div class="col-md-6">
        <h1 class="display-6">
            Categories
        </h1>
    </div>

    <div class="col-md-6 d-flex align-items-center justify-content-end">
        <a asp-area="Admin"
           asp-controller="Category"
           asp-action="Create"
           class="btn btn-success">New Category</a>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th width="100">Created Date</th>
                        <th width="135">Last Change Date</th>
                        <th>Is Active</th>
                        <th>Transactions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.Name</td>

                            <td>@category.CreatedDate.ToShortDateString()</td>
                            <td>@category.ModifiedDate.ToShortDateString()</td>
                            <td>

                                <form class="form-check"
                                      asp-area="Admin"
                                      asp-controller="Category"
                                      asp-action="UpdateIsActive"
                                      asp-route-id="@category.Id"
                                      id="form-category-is-active-@category.Id">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               role="switch"
                                               id="flexSwitchCheckChecked" @(category.IsActive ? "checked" : "")
                                               onchange="document.getElementById(`form-category-is-active-@category.Id`).submit();">
                                    </div>
                                </form>
                            </td>
                            <td>

                                 @*Deleted Button*@
                                @await Html.PartialAsync("_CategoryDeletedPartial",category)

                                <!-- Update Butonu -->
                                <a class="btn btn-success btn-sm"
                                   asp-area="Admin"
                                   asp-controller="Category"
                                   asp-action="Update"
                                   asp-route-id="@category.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
@section Css{
    @await Html.PartialAsync("_DataTablesStylesPartial")
}

@section Js{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}